{% extends "layouts/base.html" %}
{% from "macro/forms_macro.html" import render_label, render_field %}

{% block content %}
<div class="container w-50">
    <form action="" method="POST" class="form needs-validation" novalidate role="form">
        {% if 'csrf_token' in form %}
        {{ form.csrf_token() }}
        {% endif %}
        {% block form_body %} {% endblock %}
    </form>
    <a class="btn btn-secondary w-100" href="{{url_for(request.path.split('/')[1]+'.index')}}" role="button">Отменить</a>
</div>
{% endblock %}