{% extends "layouts/base.html" %}

{% block title %} Пользователи {% endblock %}
{% block header %} Таблица пользователей {% endblock %}

{% block content %}
<div class="table-container">
    <div class="create-btn-container d-flex justify-content-end mb-3">
        <a href="{{ url_for('users.create_user') }}" class="btn btn-success">Добавить пользователя</a>
    </div>
    <table class="table table-hover table-bordered text-center align-middle">
    <thead>
        <tr class="text-bg-secondary">
            <th>ID</th>
            <th>ФИО</th>
            <th>Email</th>
            <th>Пол</th>
            <th>Статус</th>
            <th>Управление</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>
                <a href="{{ url_for('users.show_user', user_id = user.id) }}">{{ user.name }}</a>
            </td>
            <td>{{ user.email }}</td>
            <td>{{ user.gender }}</td>
            <td>{{ user.status }}</td>
            <td>
                <a href="{{url_for('users.update_user', user_id = user.id)}}" class="btn btn-warning btn-sm" role="button">Изменить</a>
                <a href="{{url_for('users.delete_user', user_id = user.id)}}" class="btn btn-danger btn-sm" role="button" data-confirm="Вы действительно хотите удалить запись?">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<nav class="pagination-container d-flex justify-content-center" aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">{{ page_count }}</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock %}
