{% extends "layouts/base_form.html" %}

{% block title %} Форма создания {% endblock %}
{% block header %} Создание пользователя {% endblock %}

{% block form_body %}
    <div class="form-floating mb-3">
        {{ form.name(class_='form-control', placeholder='Имя') }}
        {{ form.name.label }}
    </div>
    <div class="form-floating mb-3">
        {{ form.email(class_='form-control', placeholder='Email') }}
        {{ form.email.label }}
    </div>
    <div class="mb-3">
        <div>
            {{ form.gender.label }}:
        </div>
        {% for f in form.gender %}
            <div class="form-check-inline ml-3 mt-2">
                {{ f(class_='form-check-input') }}
                {{ f.label(class_='form-check-label pl-1') }}
            </div>
        {% endfor %}
    </div>
    <div class="form-floating mb-3">
        {{ form.status(class_='form-select') }}
        {{ form.status.label }}
    </div>
    <div class="mb-3">
        {{ form.submit(class_='btn btn-success w-100')}}
    </div>
{% endblock %}